*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
display:flex;
justify-content:center;
align-items:center;
height:100vh;
background:#0d1b2a;
color:white;
}

.container{
text-align:center;
}

.compass{
width:250px;
height:250px;
border:8px solid white;
border-radius:50%;
position:relative;
margin:30px auto;
background:#1b263b;
}

.compass::before{
content:"N";
position:absolute;
top:10px;
left:50%;
transform:translateX(-50%);
font-size:24px;
font-weight:bold;
color:red;
}

.compass::after{
content:"S";
position:absolute;
bottom:10px;
left:50%;
transform:translateX(-50%);
font-size:24px;
font-weight:bold;
}

.needle{
width:6px;
height:100px;
background:red;
position:absolute;
left:50%;
top:25px;
transform-origin:bottom center;
transform:translateX(-50%) rotate(0deg);
border-radius:5px;
}

h2{
margin-top:20px;
font-size:35px;
}

h3{
margin-top:10px;
font-size:28px;
color:cyan;
}